/* Reset some basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #acbeda;
  color: #fcfcfc;
  padding: 0;
  margin: 0;
}

/* Header & Navigation */
header {
  background: #08286d;
  color: #edf1f3;
  padding: 1rem 2rem;
}

nav {
  display: block;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: #e0e7eb;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 1rem;
  color: #14489c;
}

/* Project Grid */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-card {
  color: #f5f7fa;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
}
.project-card.btn{
  background-color: #14489c;
  color: #0e0d0d;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 8rem;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.project image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 1rem;
}
.project-card:hover {
  transform: scale(1.05);
}

.prj--img {
  width: 15rem;
  height: 15rem;
}
/* Contact Form */
.contact h2 {
  margin-bottom: 3rem;
  box-shadow: none;
  
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto ;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
 .contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #242020;
  background: #05022c;
  border-radius: 8rem;
  margin: 7rem 0;
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}

textarea {
  background-color: #7b91b1;
  color: #f5f7fa;
}
input {
  background-color: #7b91b1;
  color: #f5f7fa;
}
input::placeholder, textarea::placeholder{
  color: #f5f7fa;
}
/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #1e293b;
  color: #ffffff;
  margin-top: 2rem;
}
